<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Todo Application</title>
  </head>
  <body>
    <div class="header">
      <div class="headerText">
        <h1>Todo</h1>
        <h2><%= currentDate %></h2>
      </div>
    </div>
    <div class="main">
      <ul>
        <li></li>
      </ul>
      <div class="form">
        <div class="todoBox">
          <p>Enter your Todo</p>
          <input
            placeholder="Your Todo"
            class="todoBox-input"
            name="todo"
            type="text"
          />
          <br />
          <div class="submit-btn">SUBMIT</div>
        </div>
      </div>
    </div>
    <div class="footer"></div>
  </body>
</html>
