<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Todo Application</title>
  </head>
  <body>
    <!-- HEADER -->
    <div class="header">
      <div class="headerText">
        <h1>Work Todo</h1>
        <h2><%= currentDate %></h2>
      </div>
    </div>

    <!-- MAIN -->
    <div class="main">
      <div class="form">
        <form action="/work" class="todoBox" method="post">
          <p>Enter your Todo</p>
          <input
            placeholder="Your Todo"
            class="todoBox-input"
            name="todo"
            type="text"
            autocomplete="off"
          />
          <br />
          <div class="btnBox">
            <button type="submit" class="submit-btn">SUBMIT</button>
          </div>
        </form>
      </div>
      <div class="listBox">
        <p>Your Todos</p>

        <div class="todos">
          <ul>
            <% workTodos.forEach(function(item) { %>
            <div class="listItem">
              <input type="checkbox" name="tick" id="tick" />
              <li><%= item %></li>
            </div>
            <% }); %>
          </ul>
        </div>
      </div>
    </div>
    <!-- FOOTER -->
    <div class="footer"></div>
  </body>
</html>
